body {
	margin: 0;
	padding: 0;
}
div.nav-bar-main {
	width: 100%;
	
}

.nav-bar-main ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #000;
}

.nav-bar-main li {
	float: right;
}

.nav-bar-main a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-button {
	border: solid 1px #fff;
}